.container{
    width: 100%;
    margin: 10% auto auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container ul li {
    margin-top: 5%;
    list-style: none;
    display: flex;
    height: 70px;
    align-items: center;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}
.container ul li:last-child{
    margin-bottom: 10%;
}
.container button{
    margin: auto;
    width: 30%;
    height: 65px;
    background: #2c9c2a;
    color: white;
    font-weight: 500;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.container .logo{
    width: 30%;
}
.container button:hover{
    background: #19c919;
    transition: .3s;
    cursor: pointer;
    color: #fff;
}
.container .index{
    text-align: center;
}
.correct{
    background: #2c9c2a;
    border: #2c9c2a;
    color: #fff;
    transition: .3s;
}
.wrong{
    background: red;
    border: red;
    color: #fff;
    transition: .3s;
}
@media (min-width: 768px) { /* Medium screens */
    .custom-container {
        width: 50%;
    }
}
@media (min-width: 1092px) { /* Large screens */
    .custom-container {
        width: 10%;
    }
}